<p id="notice"><%= notice %></p>


  <h2><%= @current_user.name %>'s Wishes</h2>



<% @wishes.each do |wish| %>
    <ul>
      <li>
        Wish: <%= link_to wish.name, wish %>
      </li>
    </ul>
    

<% end %>
  

<br>

<%= link_to 'Make A Wish', new_wish_path %>
