<p id="notice"><%= notice %></p>

<% @wishes.each do |wish| %>
  <h2><%= wish.user.name %>'s Wishes</h2>
<% end %>


<% @wishes.each do |wish| %>
    <ul>
      <li>
        Wish: <%= link_to wish.name, wish %>
      </li>
    </ul>
    

<% end %>
  

<br>

<%= link_to 'Make A Wish', new_wish_path %>
