<div class="category-holder">
	<h2>My Bookmarks</h2>
</div>

<%# list of bookmarks will be shown over here %>
<div class="item">
	<% @bookmarks.each do |bookmark| %>
		<p><%= link_to(bookmark.item.name, item_path(bookmark.item)) if bookmark.item %></p>
	<% end %>
</div>



<script id="appViewTemp" type="text/template">
  <div></div> 
</script>

<script id="BookmarkListTemp" type="text/template">
<h3>{{}}</h3>
</script>

<br>

