
<p id="notice"><%= notice %></p>

<h1>Listing Bookmarks</h1>

<%# list of bookmarks will be shown over here %>
<%# next unless Item.find(bookmark.item_id).presence %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<div id="main">
</div>

<script id="appViewTemp" type="text/template">
  <div></div> 
</script>

<script id="BookmarkListTemp" type="text/template">
<h3>{{}}</h3>
</script>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>
