<p id="notice"><%= notice %></p>

<h2><%= @subcategory.name %></h2>

<ul>
	
	<li>
		<ul>
			<% @subcategory.items.each do |item| %>
			<div class="col-md-3">
				<li>
					<%= link_to(cl_image_tag(item.image, :width=>200, :crop=>:thumb, :gravity=>:face, :effect=>"vibrance"), item) %>
				</li>
				<li>
					<%= item.name %>
				</li>
			</div>
			<% end %>
		</ul>	 
	</li>

</ul>
