<% @listofitems.each do |item| %>
  
  <ul>
    <li>
      <ul>

        <li><a href="/items/<%= item.item_id %>"><%= item.name %></a></li>
        <li><%= item.created_at.strftime "%e %B, %Y" %></li>
      </ul>
    </li>
  </ul>

  <% end %>