ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


li {
	padding: 0;
	text-align: centre;
}

.centre1 {
	display: block;
	text-align: center;
	margin-left: -12.5em;
}

.centre {
	display: block;
	text-align: center;
}

.sale {
	margin-top: -9em;
}

.left {
	margin-left: -2em;
}

td {
	text-align: center;
}
