i {
	font-size: 32px;
}

div.item {
	margin: 0 auto;
	background-color: white;
	opacity: 0.9;
	width: 90vw;
}

table.table {
	width: 80%;
}
td {
	text-align: center;
	
}

textarea#exampleInputDescription3 {
	max-width: 399px;
}

table#housing-table {
	width: 50%;
}

div.item-holder {
	width: 110vw;
	position: fixed;
	z-index: 600;
	margin-left: -2.6em;
	top: 2.5em;
	background-color: #1ca7a7;
	h3 {
		padding-left: 1em;
		color: white;
	}
	
}
