div.signin-container {
	text-align: center;
	margin: 0 auto;
	img#VDM-logo {
		border-radius: 5% 5% 0% 0%;
		width: 500px;
		
	}
	div#login {
		width: 500px;
		margin: 0 auto;
		padding-top: 10px;
		background-color: white;
		opacity: 0.9;
	}
}

