div.category-holder {
	width: 110vw;
	background-color: #fba200;
	position: fixed;
	z-index: 600;
	margin-left: -2.6em;
	top: 2.5em;
	a {
		padding-left: 1em;
		color: white;
	}
	
}

div.subcategory-holder {
	width: 110vw;
	position: fixed;
	background-color: #1ca7a7;
	margin-left: -2.6em;
	padding-left: 0;
	z-index: 500;
	top: 5.7em;
	
	h3 {
		padding-left: 2.5em;
		color: white;

	}
}

div.listing {
	div#item-container {
		background-color: white;
		opacity: 0.9;
		border: 1px solid #1ca7a7;
		border-radius: 5%;
		height: 280px;
		margin: 0 auto;
		max-width: 315px;
		min-width: 253px;
		text-align: center;
		top: 2em;
		li.image-container {
			overflow: hidden;
			padding-top: 10px;
			width:200px;
			height:200px;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		li.description-container {
			color: #1ca7a7;
		}
	}
}

