<p id="notice"><%= notice %></p>

<div class="category-holder">
	<h2><%= @category.name %></h2>
</div>
<div class="listing">
	<ul>
		<li>
			<ul>
				<% count = 0 %>
				<% until count >= @category.items.length %>
					<div class="row">
					<% 4.times do %>
						<div id="item-container" class="col-md-3">
							<li class="image-container">
								<%= link_to(cl_image_tag(@category.items[count -1].image), @category.items[count -1 ]) %>
							</li>
							<li class="description-container">
								<%= @category.items[count -1].name %>
							</li>
						</div>
					
					<% count +=1 %>
					<% end %>
					</div>
				<% end %>
			</ul>	 
		</li>

	</ul>

</div>
